<div fxLayout="row" class="container" fxLayoutAlign="space-around">
  <div fxFlex="30%">
    <app-messages></app-messages>
  </div>
  <div fxFlex="40%">
    <app-new-message></app-new-message>
  </div>
</div>
