<h2>Messages chat</h2>
<div fxLayout="column">
  <ng-container *ngIf="!isFetching; else loading">
    <div *ngFor="let message of messages">
      <mat-card class="card">
        <mat-card-title>{{ message.author }}</mat-card-title>
        <mat-card-subtitle>{{ message.datetime }}</mat-card-subtitle>
        <mat-card-content>
          <p>" {{ message.message }} "</p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
