<h2>Post new message</h2>
<mat-card>
  <mat-card-content>
    <form fxLayout="column" #f="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" matInput ngModel required/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea
          name="message"
          matInput
          ngModel
          required
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="postNewMessage()"
          [disabled]="f.invalid || isUploading"
        >
          <span *ngIf="!isUploading">Send</span>
          <span *ngIf="isUploading">
            <mat-spinner></mat-spinner>
          </span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
